@page
@model RazorProject.Pages.AdoptionContracts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdoptionContract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdoptionContract.DateTime" class="control-label">Contract date and time</label>
                <input asp-for="AdoptionContract.DateTime" class="form-control" />
                <span asp-validation-for="AdoptionContract.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionContract.PersonId" class="control-label">Person</label>
                <select asp-for="AdoptionContract.PersonId" class="form-control" asp-items="ViewBag.Persons"></select>
            </div>
            <div class="form-group">
                <label asp-for="DogId" class="control-label">Dog</label>
                <select asp-for="DogId" class="form-control" asp-items="ViewBag.Dogs"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
